@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@1,700&display=swap');


body{

  height: auto!important;  /*otomatik büyüklüğü ayarla*/
  margin: auto;
  width: 50%;
}

/*Klasse von Signup Div*/
.Signup-Form{
  max-width: 12em;
  max-height: 40em;
  padding: 1em;  /* dolgu malzemesi */

}

/*  */
.inpText, .inpButton{

  padding: 1em;
  margin: 1em;
}

h1, h4{
  color: #E0C097;
  font-family:  'Fira Sans Condensed', sans-serif;

}
